/* Estilos para aplicar colores y altura a las etiquetas semánticas */

body {
    margin: 0; /* Bootstrap ya ayuda con esto, pero es seguro mantenerlo */
    font-family: sans-serif;
}

header {
    background-color: #777777; /* Gris oscuro para la cabecera */
    padding: 15px; /* Ajuste el padding para que se vea mejor */
    color: white;
    font-size: 20px;
}

aside {
    /* ROLES - lado izquierdo */
    background-color: #DDDDDD; /* Gris claro para roles */
    padding: 15px;
    height: 100%; /* Ocupa la altura de la columna */
}

main {
    /* MAIN - lado derecho */
    background-color: #99FF33; /* Color verde chillón para MAIN */
    padding: 15px;
    height: 100%; /* Ocupa la altura de la columna */
}