/* Estilos para aplicar colores y altura a las etiquetas semánticas */

body {
    margin: 0; 
    font-family: sans-serif;
}

header {
    background-color: #777777; 
    padding: 15px; 
    font-size: 20px;
}

aside {
    /* ROLES - lado izquierdo */
    background-color: #DDDDDD; 
    padding: 15px;
    height: 100%; 
}

main {
    /* MAIN - lado derecho */
    background-color: #99FF33; 
    padding: 15px;
    height: 100%; 
}